<?php include APP_PATH."application/views/head.html" ?>

<p></p>
<ol class="breadcrumb">
    <li><a href="#">主页</a></li>
    <li class="active">收藏夹</li>
</ol>


<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">已收藏的商品</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <button class="btn btn-warning right">添加到购物车</button>
                        <span class="btn btn del-item right">删除</span>
                        <h4 class="list-group-item-heading">洽洽瓜子</h4>
                        <p class="list-group-item-text">价格：<lable class="price">900</label>元</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <button class="btn btn-warning right">添加到购物车</button>
                        <span class="btn btn del-item right">删除</span>
                        <h4 class="list-group-item-heading">洽洽瓜子</h4>
                        <p class="list-group-item-text">价格：<lable class="price">900</label>元</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <button class="btn btn-warning right">添加到购物车</button>
                        <span class="btn btn del-item right">删除</span>
                        <h4 class="list-group-item-heading">洽洽瓜子</h4>
                        <p class="list-group-item-text">价格：<lable class="price">900</label>元</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div> <!-- /container -->

<?php include APP_PATH."application/views/foot.html" ?>
