<?php include APP_PATH."application/views/head.html" ?>

<p></p>
<ol class="breadcrumb">
    <li><a href="/">主页</a></li>
    <li class="active">收藏夹</li>
</ol>


<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">已收藏的商品</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <?php
                    if($items){
                        foreach( $items as $i ) {
                        echo '
                        <span class="list-group-item">
                            <a onclick="fav.add_cart('."'".$i['product_uuid']."',this".')" class="btn btn-success right js-add-cart">添加到购物车</a>
                            <a href="javascript:" onclick="fav.del_item('."'".$i['fav_id']."',this".')" class="btn right">删除</a>
                            <h4 class="list-group-item-heading">'.$i['product_name'].'</h4>
                            <p class="list-group-item-text">价格：<lable class="price">'.$i['money'].'</label>元</p>
                            <span class="hidden product_uuid">'.$i['product_name'].'</span>
                        </span>
                        ';
                        }
                    }
                    ?>
                </div>
            </div>
        </div>
    </div>

</div> <!-- /container -->

<?php include APP_PATH."application/views/foot.html" ?>
