<div class="sidebar-nav">
    <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>商品操作面板</a>
    <ul id="dashboard-menu" class="nav nav-list collapse in">
        <li <?php if($action=='product_index'){echo "class='active'";}?>><a href="/product/list">商品列表</a></li>
        <li <?php if($action=='product_add'){echo "class='active'";}?>><a href="/product/add">商品添加</a></li>
    </ul>
    <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>管理员设置</a>
    <ul id="accounts-menu" class="nav nav-list collapse in">
        <li <?php if($action=='admin_index'){echo "class='active'";}?>><a href="/admin">管理员登陆</a></li>
        <li <?php if($action=='admin_add'){echo "class='active'";}?>><a href="/admin/add/">添加管理员</a></li>
    </ul>
</div>
