<?php include "head.html" ?>

<p></p>
<ol class="breadcrumb">
  <li><a href="#">主页</a></li>
  <li class="active">商品列表</li>
</ol>






    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- /container -->

    <div class="center">
        <ul class="nav nav-justified pagination pagination-lg">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>


<?php include "foot.html" ?>
