<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>快乐零食</title>

    <!-- Bootstrap core CSS -->
    <link href="/lib/yeti/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css" media="">
    #logo{
        width:80px;
    }
    .breadcrumb {
        font-size:12px;
    }
    .center {
        width: auto;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    .text-center {
        text-align: center;
    }
    </style>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/">
    <img id="logo" src="/images/title.png" />
    </a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">登陆/登出</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人账户<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<ul class="nav nav-pills">
    <li class="col-lg-2 col-xs-2 btn-group">
        <button type="button" class="btn btn-success btn-sm">零食分类</button>
        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </li>
    <li class="col-lg-6 col-xs-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="输入零食名称">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">搜索零食</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    </li>
    <li class="col-lg-2 col-xs-2 navbar-right">
        <button type="button" class="btn btn-sm btn-danger">购物车</button>
    </li>
</ul>

<p></p>
<ol class="breadcrumb">
  <li><a href="#">主页</a></li>
  <li class="active">商品列表</li>
</ol>






    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/1.png" alt="zi">
                    <div class="caption">
                        <h3>洽洽瓜子</h3>
                        <p>价格:<span class="price">900</span>元<p>
                        <p><a href="#" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="#" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- /container -->

    <footer>
    <div class="center">
        <ul class="nav nav-justified pagination pagination-lg">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/lib/jquery/jquery-1.11.1.min.js"></script>
    <script src="/lib/yeti/js/bootstrap.min.js"></script>
  </body>
</html>

