<?php include "head.html" ?>

<p></p>
<ol class="breadcrumb">
    <li><a href="#">主页</a></li>
    <li class="active">登陆</li>
</ol>


<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xs-4">
        </div>
        <div class="panel panel-info col-lg-4 col-xs-4">
            <div class="panel-heading">
                <h3 class="panel-title">登陆</h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/user/login">
                <div class="list-group">
                    <p class="list-group-item">
                    <input name="username" type="text" placeholder="输入用户名" />
                    <label class="badge label-warning">用户名错</label>
                    </p>
                    <p class="list-group-item">
                    <input name="password" type="text" placeholder="输入密码" />
                    <label class="badge">密码错</label>
                    </p>
                    <p>
                    <label class="btn-warning">用户名demo，密码demo</label>
                    <input type="button" class="btn btn-primary right js-login-btn" value="登陆" />
                    </p>
                </div>
                </form>
            </div>
        </div>
    </div>

</div> <!-- /container -->
<?php include "foot.html" ?>
