<?php include APP_PATH."application/views/head.html" ?>

<p></p>
<ol class="breadcrumb">
  <li><a href="/">主页</a></li>
  <li class="active">商品列表</li>
</ol>






    <div class="container">
        <div class="row">
            <?php
            if(isset($item)){
            $i=$item;
            echo '
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/images/product/'.$i['product_uuid'].'.jpg" alt="zi">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="info">
                    <div class="caption">
                        <h3><a href="/item/get?name='.$i['product_uuid'].'">'.$i['product_name'].'</a></h3>
                        <p>价格:<span class="price">'.$i['money'].'</span>元<p>
                        <p><a href="/order/add?name='.$i['product_uuid'].'" class="btn btn-primary btn-sm" role="button">购买</a>
                        <a href="/fav/add?name='.$i['product_uuid'].'" class="btn btn-sm btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>
            ';
            }
            ?>
        </div>
        <div class="row">
            <div class="col-lg-1 col-sm-1"></div>
            <div class="col-sm-10 col-md-10">
                详细介绍
            </div>
        </div>

    </div> <!-- /container -->

<?php include APP_PATH."application/views/foot.html" ?>
